extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Odd Marthon Lende

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Worked in Baker Hughes the last 8-9 years, where i worked my way up and lost my job because of the economy. At the beginning of my time in the company i started a project and developed a web application for storing and searching documentation, that was a re-write of an existing project that was difficult to maintain. Also i was writing small utility software applications and scripts when not supporting and started two data visualisation projects. The support part was mostly database troubleshooting in addition to some software and network troubleshooting.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Javascript
          li HTML5
          li CSS
          li Node.Js
          li Unix
          li SQL
          li Git
          li Technical Support
          li PHP
          li jQuery
          li C#
          li Amazon Web Services
          li Heroku
        h6 Contact Info

        ul
          li +4746917675
          li oddmarthon.lende@me.com

        a.button.expanded(href='https://www.linkedin.com/in/odd-marthon-lende-4471a5134/') LinkedIn
        a.button.expanded(href='https://github.com/oddmarthon-lende') GitHub
        a.button.expanded(href='https://twitter.com/LendeOdd') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
